@media only screen and (max-width: 480px) {
  .bg-2 {
    display: none;
  }
  
  .bg-1 {
    width: 50%;
    clip-path: none;
    height: 85vh;
    right: 0;
    background-color: var(--bg-sub-light);
    border-bottom-left-radius: 64px;
    rotate: 0deg;
  }

  .home-item__contaner section {
    margin: 0 0;
    border-radius: 0;
  }

  .whats-new-text {
    padding-top: 2rem;
    font-size:medium;
  }

  .featured-slider {
    margin-top: 15vh;
  }

  .logo-svg {
    width: 18%;
  }

  .items-wrapper {
    gap: 1rem;
  }

  .menu-btn {
    display: block;
  }

  header {
    background: none;
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
  }

  header nav {
    display: none;
  }

  footer article .support-wrapper a {
    font-size: small;
  }

  .copyright-container {
    font-size: x-small;
  }

  .featured-btn {
    border-top-right-radius: 24px;
    font-size: 1.5rem;
    width: 4rem;
    height:4rem;
    transition: opacity 0.4s ease;
  }

  .featured-slide {
    height: 55vh;
    border-radius: 32px;
    box-shadow: var(--box-shadow1);
    display: flex;
    flex-direction: column-reverse;
  }

  .besttoday-text {
    bottom: 5%;
    right: 5%;
  }

  .new-items {
    margin-top: 0;
  }

  .about__container h1 {
    font-size: x-large;
  }
  
  .about__container p {
    font-size: small;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .about__container h1:nth-of-type(3) {
    font-size: medium;
  }
  #nike-logo {
    left: 10%;
    width: 80vw;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1440px) {
  .featured-slide {
    border-radius: 48px;
    display: flex;
    flex-direction: row;
  }

  .menu-btn {
    display: none;
  }

  .featured-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-sub-light);
    margin-top: 8dvh;
    margin-bottom: 8dvh;
    margin-right: 5dvw;
    position: relative;
  }

  .besttoday-text {
    left: -3rem;
    width: fit-content;
  }

  .featured-info {
    margin-bottom: 0;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .featured-info > h1 {
    text-align: start;
  }
  
  .featured-img img {
    width: 90%;
  }

  .introducing-text {
    font-size: x-large;
  }
  
  .featured-item-name {
    font-size: xx-large;
  }
  
  .featured-item-price {
    font-size: x-large;
  }

  .besttoday-text {
    font-size: medium;
  }
}

@media only screen and (min-width: 480px) and (max-width: 688px) {
  .whats-new-text {
    font-size: medium;
  }

  .about__container h1:nth-of-type(3) {
    font-size: x-large;
  }

  .about__container h1 {
    font-size: x-large;
  }
  
  .about__container p {
    font-size: small;
  }

  .items-wrapper {
    gap: 1rem;
  }

  .home-item__contaner section {
    margin: 0 2rem;
  }
  header {
    width: 75vw;
  }
  .logo-svg {
    width: 14%;
  }
  .introducing-text {
    font-size: large;
  }
  
  .featured-item-name {
    font-size:x-large;
  }
  
  .featured-item-price {
    font-size: large;
  }
  #nike-logo {
    left: 15%;
    width: 70vw;
  }
}

@media only screen and (min-width: 688px) and (max-width: 763px) {
  .logo-svg {
    width: 12%;
  }
  .home-item__contaner section {
    margin: 0 2rem;
  }
  header {
    width: 75vw;
  }
  .items-wrapper {
    gap: 1rem;
  }
  #nike-logo {
    left: 15%;
    width: 70vw;
  }
}

@media only screen and (min-width: 763px) and (max-width: 992px) {
  .home-item__contaner section {
    margin: 0 2rem;
  }

  .boxes {
    margin-top: 2rem;
  }
  header {
    width: 75vw;
  }
  .items-wrapper {
    gap: 2rem;
  }
  .logo-svg {
    width: 10%;
  }
  #nike-logo {
    left: 15%;
    width: 70vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .featured-slide {
    width: 80vw;
  }
  header {
    width: 70vw;
  }
  .logo-svg {
    width: 10%;
  }

  #nike-logo {
    left: 15%;
    width: 70vw;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .featured-slide {
    width: 70vw;
  }
  header {
    width: 65vw;
  }
  .logo-svg {
    width: 10%;
  }
}