@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-red100: #ffdddd;

  --text-light-static: #f4f4f5;

  --clr-blue-static: #709acb;

  --items-count: 4;

  --box-shadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body, html {
  font-family: 'Raleway';
  overflow-x: hidden;
  background-color: var(--bg-light);
}

button {
  cursor: pointer;
}

.theme-light {
  --bg-dark: #1f1d2b;
  --bg-sub-dark: #252836;

  --bg-light: #ffffff;
  --bg-sub-light: #f3f3f8;

  --text-dark: #27272a;
  --text-sub-dark: #71717a;
  --bg-line-dark: #d4d4d8;

  --text-light: #f4f4f5;
  --text-sub-light: #a1a1aa;
  --bg-line-light: #52525b;

  --bg-dark-hover: #fb070a;
  --bg-light-hover: #ff9697;

  --logo-opacity-light: 5%;
  --logo-opacity-dark: 10%;
}

.theme-dark {
  --bg-light: #1f1d2b;
  --bg-sub-light: #252836;

  --bg-dark: #ffffff;
  --bg-sub-dark: #f3f3f8;

  --text-light: #27272a;
  --text-sub-light: #71717a;
  --bg-line-light: #d4d4d8;

  --text-dark: #f4f4f5;
  --text-sub-dark: #a1a1aa;
  --bg-line-dark: #52525b;

  --bg-light-hover: #fb070a;
  --bg-dark-hover: #ff9697;

  --logo-opacity-dark: 5%;
  --logo-opacity-light: 10%;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--bg-light-hover));
  border-radius: 6px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 75vw;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba( 255, 255, 255, 0 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
}

header nav {
  display: flex;
  gap: 1.5rem;
}

header nav a {
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-dark);
  padding: 0 0.5rem;
  border-radius: 6px;
  transition: background-color 0.4s ease;
}

header nav a:hover {
  background-color: var(--bg-light-hover);
}

.header-controls {
  display: flex;
  gap: 0.5rem;
}

.logo-svg {
  width: 8%;
}

.home-item__contaner {
  padding-top: 10vh;
}

.home-item__contaner section {
  margin: 0 4rem;
  background-color: var(--bg-sub-light);
  border-radius: 36px;
  padding-bottom: 0.5rem;
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
  gap: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.new-items {
  margin-top: 1rem;
  height: 18rem;
  border-radius: 24px;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
}

.new-items-img {
  margin-top: 1rem;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-items-img img {
  width: 60%;
}

.new-items-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.new-items-info .item-name {
  font-weight: 900;
  color: var(--text-dark);
}

.new-items-info .item-price span {
  text-decoration: line-through;
  color: var(--bg-dark-hover);
}

.new-items-info .item-price {
  font-weight: 700;
  color: var(--text-dark);
}

#featured-item1 .featured-btn {
  background-color: #709acb;
}

#featured-item1 .besttoday-text {
  background-color: #709acb;
}

#featured-item2 .featured-btn {
  background-color: #3fbb13;
}

#featured-item2 .besttoday-text {
  background-color: #3fbb13;
}

.home-item__contaner hr {
  margin-right: 4rem;
  margin-left: 4rem;
}

.about__container {
  margin-top: 4rem;
}

.about__container h1 {
  font-weight: 900;
  font-size: xx-large;
  color: var(--text-dark);
  text-align: center;
}

.about__container p {
  font-size: medium;
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center;
  color: var(--text-dark);
}

.about__container h1:nth-of-type(2) {
  margin-top: 2rem;
}

.about__container h1:nth-of-type(3) {
  margin-top: 2rem;
  font-weight: 600;
}

.about__container iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
  width: 80dvw;
  min-width: none;
  border: 4px solid var(--bg-light-hover);
  border-radius: 24px;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 18rem;
  margin-top: 4rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 18rem;
  height: 18rem;
  border-radius: 6px;
  position: absolute;
  left: max(calc(18rem * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: cover;
  background-position: center;
  border: solid 4px var(--bg-light-hover);
  transition: filter 0.4s ease;
  filter: grayscale(0.5);
}

.item:hover {
  filter: none;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
  background-image: url(./src/people/people-1.jpg);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
  background-image: url(./src/people/people-2.jpg);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
  background-image: url(./src/people/people-3.jpg);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
  background-image: url(./src/people/people-4.jpg);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
  background-image: url(./src/people/people-1.jpg);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
  background-image: url(./src/people/people-2.jpg);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
  background-image: url(./src/people/people-3.jpg);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
  background-image: url(./src/people/people-4.jpg);
}

footer {
  margin-top: 2rem;
}

footer article {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-sub-light);
}

footer article form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 0.5rem;
}

footer article form label {
  color: var(--text-dark);
  font-weight: 600;
}

footer article form input {
  color: var(--text-dark);
  width: fit-content;
  border-radius: 10px;
  border: 2px solid var(--bg-light-hover);
  background-color: var(--bg-light);
  font-size: large;
}

footer article form button {
  color: var(--text-dark);
  width: fit-content;
  background-color: var(--bg-light-hover);
  font-size: small;
  border: 0;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

footer article .support-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

footer article .support-wrapper a {
  color: var(--text-dark);
  font-weight: 600;
  transition: opacity 0.4s ease;
  cursor: pointer;
  font-size: medium;
}

footer article .support-wrapper a:hover {
  opacity: 0.5;
}

footer article .support-wrapper h1 {
  color: var(--text-dark);
  font-weight: 900;
}

footer article .social-wrapper h1 {
  color: var(--text-dark);
  font-weight: 900;
}

footer article .social-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
}

footer article .social-wrapper a {
  color: var(--text-dark);
  font-size: x-large;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

footer article .social-wrapper a:hover {
  opacity: 0.5;
}

footer p {
  font-size: small;
  text-align: center;
  padding: 0.5rem;
  color: var(--text-dark);
  font-weight: 600;
  background-color: var(--bg-light-hover);
  user-select: none;
}

.searchbar-wrapper {
  margin-left: 10vw;
  margin-right: 6vw;
  margin-top: 20vh;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.searchbar-wrapper input {
  color: var(--text-dark);
  width: fit-content;
  border-radius: 24px;
  border: 0;
  background-color: var(--bg-light);
  font-size: large;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow1);
}

.pricing-container {

}

.pricing-container .item-wrapper {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 12vw;
  margin-right: 12vw;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
  grid-gap: 4rem;
}

.boxes {
  height: 14rem;
  background-color: var(--bg-sub-light);
  border-radius: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.boxes h2 {
  font-weight: 900;
  color: var(--text-dark);
}

.boxes p {
  font-weight: 600;
  color: var(--text-dark);
}

.boxes img {
  position: absolute;
  top: -5rem;
  width: 70%;
}

.boxes i {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: large;
  color: var(--text-dark);
}