@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-margin: 2rem;
  --hover-animation: all 0.5s ease;

  --bg-red100: #ffdddd;

  --text-light-static: #f4f4f5;

  --clr-blue-static: #709acb;

  --items-count: 4;

  --box-shadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body, html {
  font-family: 'Raleway';
  overflow-x: hidden;
  background-color: var(--bg-light);
}

.theme-light {
  --bg-dark: #1f1d2b;
  --bg-sub-dark: #252836;

  --bg-light: #ffffff;
  --bg-sub-light: #f3f3f8;

  --text-dark: #27272a;
  --text-sub-dark: #71717a;
  --bg-line-dark: #d4d4d8;

  --text-light: #f4f4f5;
  --text-sub-light: #a1a1aa;
  --bg-line-light: #52525b;

  --bg-dark-hover: #fb070a;
  --bg-light-hover: #ff9697;
}

.theme-dark {
  --bg-light: #1f1d2b;
  --bg-sub-light: #252836;

  --bg-dark: #ffffff;
  --bg-sub-dark: #f3f3f8;

  --text-light: #27272a;
  --text-sub-light: #71717a;
  --bg-line-light: #d4d4d8;

  --text-dark: #f4f4f5;
  --text-sub-dark: #a1a1aa;
  --bg-line-dark: #52525b;

  --bg-light-hover: #fb070a;
  --bg-dark-hover: #ff9697;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 75vw;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 10px;
}

header nav {
  display: flex;
  gap: 1.5rem;
}

header nav a {
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-dark);
  padding: 0 0.5rem;
  border-radius: 6px;
  transition: background-color 0.4s ease;
}

header nav a:hover {
  background-color: var(--bg-light-hover);
}

.header-controls {
  display: flex;
  gap: 0.5rem;
}

.logo-svg {
  width: 8%;
}

.home-item__contaner {
  padding-top: 11vh;
}

.home-item__contaner section {
  margin: 0 4rem;
  background-color: var(--bg-sub-light);
  border-radius: 36px;
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
  gap: 4rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
}

.new-items {
  height: 18rem;
  border-radius: 24px;
  background-color: var(--bg-light);
}