.featured-slider {
  margin-top: 20vh;
  width: 100vw;
  height: 62vh;
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0;
}

.featured-slide-container {
  display: flex;
  width: 200%;
  height: 60vh;
  transition: transform 4s ease-in-out;
  position: absolute;
}

.featured-slide {
  width: 80vw;
  height: 60vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 48px;
  box-shadow: var(--box-shadow1);
}

.featured-slide:nth-child(1) {
  background-color: var(--bg-light);
}
.featured-slide:nth-child(2) {
  background-color: var(--bg-light);
}

@keyframes slideEffect {
  0% { transform: translateX(0); }
  25% { transform: translateX(0); }
  50% { transform: translateX(-50%); }
  75% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.featured-slide-container {
  animation: slideEffect 10s infinite;
}

.bg-1 {
  position: absolute;
  width: 100%;
  height: 80vh;
  z-index: -1;
  clip-path: polygon(50% 0%, 100% 28%, 100% 100%, 0 100%, 0% 28%);
  background-color: var(--bg-sub-light);
  rotate: -180deg;
}

.bg-2 {
  height: 4rem;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: var(--bg-sub-light);
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}

.whats-new-text {
  font-weight: 900;
  color: var(--text-dark);
  font-size: x-large;
  text-align: center;
  animation: onshow linear both;
  animation-timeline: view(block);
  animation-range: cover 0% cover;
}

@keyframes onshow {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
}

.menu-btn {
  display: none;
  text-align: center;
  font-size: x-large;
  background: none;
  border: none;
  color: var(--text-dark);
  border-radius: 6px;
  padding: 0 0.5rem;
  transition: all 0.4s ease;
}

.menu-btn:hover {
  background-color: var(--bg-light-hover);
}

.theme-btn {
  text-align: center;
  font-size: large;
  background: none;
  border: none;
  color: var(--text-dark);
  border-radius: 6px;
  padding: 0 0.5rem;
  transition: all 0.4s ease;
}

.theme-btn:hover {
  background-color: var(--bg-light-hover);
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
}

.modal-list {
  position: relative;
  width: 24rem;
  height: 18rem;
  background-color: var(--bg-light);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-content: center;
  border-radius: 24px;
  grid-gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-list button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-list-op {
  margin-right: 1.5rem;
  width: 100%;
  color: var(--text-dark);
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 6px;
  text-align: center;
  transition: all 0.4s ease;
}

.modal-list-op:hover {
  background-color: var(--bg-light-hover);
}